body {
    font-family:'Times New Roman', Times, serif;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    background-repeat: no-repeat;
}

nav {
    background-color:#0a3641;
    margin: 0 auto;
    height: 70px;
    width: 1430px;
    position: absolute;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.menu a, {
    background-color:#0a3641;
    margin: 0 auto;
    height: 70px;
    width: 150px;
    position: absolute;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-size: 2em;
    color: #fff;
    position: absolute;
    line-height: 80px;
    display: inline;
}

.home_button {
    left: 350px;
    bottom: 0.5px;
}

.men_button {
    left: 480px;
    bottom: 0.5px;
}

.women_button {
    left: 590px;
    bottom: 0.5px;
}

.about_button {
    left: 750px;
    bottom: 0.5px;
}

.contact_button {
    left: 890px;
    bottom: 0.5px;
}

/* Links */

a {
    text-decoration: none;
}


/* Home Page */



/* Find page */

.find_store_text {
    font-size: 1em;
    margin: 0 auto;
    padding: 0;
}