h1,
h2,
h3 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.menu {
    font-size: 2em;
}

nav li {
    display: inline-block;
}

nav ul {
    padding: 0px;
}


.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    background-repeat: no-repeat;
}

.menu, a, 
footer {
    background-color: #0a3641;
    color: #fff;
    height: 100px;
    line-height: 100px;
    position: relative;
}

/* Links */

a {
    text-decoration: none;
}

/* Home Page */

.explore_button {
    background-color: transparent;
    color: white;
    font-size: 2em;
    font-weight: 600;
    position: absolute;
    margin: 0%;
    padding: 0%;
    left: 37%;
    top: 90%;
    text-transform: uppercase;
    padding: 20px 10px;
}

.home_photo {
    background-repeat: no-repeat;
    width: 1425px;
    height: 500px;
    bottom: 450px;
}

.popular_now {
    position: relative;
    right: 35%;
    top: 50px;
}

.retro_jacket {
    position: relative;
    background-repeat: no-repeat;
    width: 360px;
    padding: 5%;
    top: 110px;
}

.hiker_jacket {
    position: relative;
    background-repeat: no-repeat;
    width: 400px;
    bottom: 490px;
    left: 35%;
}

.running_jacket {
    position: relative;
    background-repeat: no-repeat;
    width: 320px;
    bottom: 1000px;
    left: 70%;
}

.retro_text {
    position: relative;
    right: 3cm;
    top: 60px;
    font-size: 1em;
}

.hiker_text {
    position: relative;
    left: 9.2cm;
    bottom: 470px;
}

.running_text {
    position: relative;
    left: 21.2cm;
    bottom: 989px;
}

.retro_price {
    position: relative;
    left: 5cm;
    top: 60px;
}

.hiker_price {
    position: relative;
    left: 17.5cm;
    bottom: 465px;
}

.running_price {
    position: relative;
    left: 30cm;
    bottom: 990px;
}

/* Contact page */

input,
select,
textarea {
    border: 1px solid #c4c4c4;
}

main h1 {
    position: relative;
    margin: 0%;
    padding: 0%;
    left: 26%;
    font-size: 1.5em;
}

/* Privacy page, terms page, accesibility page */

main h1 {
    position: relative;
    padding: 10%;
    left: 35%;
    font-size: 2em;
}

/* Store page */

main h1 {
    position: relative;
    padding: 0%;
    left: 40%;
}

.sandvika {
    background-repeat: no-repeat;
    width: 400px;
    height: 300px;
    position: relative;
    left: 15%;
}
main h2 {
    position: relative;
    left: 20%;
}

.storo {
    background-repeat: no-repeat;
    width: 400px;
    height: 300px;
    position: relative;
    bottom: 373px;
    left: 700px;
}

.grunerlokka {
    background-repeat: no-repeat;
    width: 400px;
    height: 300px;
    position: relative;
    bottom: 350px;
    left: 15%;
}

.sorlandssenteret {
    background-repeat: no-repeat;
    width: 400px;
    height: 300px;
    position: relative;
    bottom: 720px;
    left: 700px;
}